body {
  margin: 0;
}

Header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d3d6da;
  padding: 10px 0;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.time {
  font-size: 25px;
  margin: 10px 0;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.board-column {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.keyboard-row button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #818384;
  width: 43px;
  height: 58px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

.keyboard-row button.special {
  width: 58px;
  font-size: 12px;
}

.keyboard-row button.special img {
  width: 30px;
}
